:root {
  box-sizing: border-box;
  --primary: #f9f9fa;
  --dark-primary: rgba(0, 0, 0, 0.871);
  --dark-secondary: rgba(0, 0, 25, 0.541);
  --dark-hint: rgba(0, 0, 25, 0.38);
  --dark-divider: #0000191f;
  --light-primary: #ffffff;
  --light-secondary: rgba(255, 255, 255, 0.702);
  --light-hint: rgba(255, 255, 255, 0.502);
  --light-divider: #ffffff1f;
  --accent: rgb(255, 152, 0);
  --divider: #bdbdbd;
  /* --background: #f5f7f5; */
  --background: #ffffff;
  --link: #00a65a;
  --button: #0060ac;
  --brand: #388e3c;
  --sidebar: #515151;

  --border-radius: 0.3em;
  font-size: 0.85em !important;
}

h1,
h2,
h3,
h4,
p,
span,
.li {
  /* color: rgb(50, 72, 105); */
  line-height: calc(1em + 12px);
}

html {
  overflow-y: auto;
}

@media (min-width: 600px) {
  #main *::-webkit-scrollbar-track {
    background-color: white;
  }

  #main *::-webkit-scrollbar {
    width: 4px;
    position: absolute;
  }

  #main *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }
  #main *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  html {
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(235, 231, 231, 1);
    scrollbar-width: thin;
  }
  #main * {
    scrollbar-color: rgba(0, 0, 0, 0) white;
    scrollbar-width: thin;
  }
  #main *:hover {
    scrollbar-color: rgba(0, 0, 0, 0.2) white;
  }
  body::-webkit-scrollbar-track {
    background-color: rgba(235, 231, 231, 1);
  }

  body::-webkit-scrollbar {
    width: 8px;
    position: absolute;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.sub-note {
  font-size: 0.95em;
}
.spacious {
  line-height: 1.9em;
}
.pre-wrap {
  white-space: pre-wrap;
}
.italic {
  font-family: "Overlock", cursive;
  font-style: italic;
  font-size: 1.2em;
}
.title-text {
  font-size: 1em;
  font-weight: normal;
  color: #616161;
}
.page-title {
  margin: 0.5em 0em;
  padding: 0.2em 0.2em;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.87);
}
.oswald {
  font-family: "Oswald", sans-serif !important;
}

.icon {
  font-size: 2em;
}

.border {
  border: 1px solid var(--brand) !important;
}

@media (min-width: 25em) {
  :root {
    font-size: 0.85em !important;
  }
}
@media (min-width: 37.5em) {
  :root {
    font-size: 0.9em !important;
  }
}
@media (min-width: 56.25em) {
  :root {
    font-size: 0.95em !important;
  }
}
@media (min-width: 68.75em) {
  :root {
    font-size: 1em !important;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}
* > * {
  font-family: "Roboto", sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif !important;
}
#body {
  background: var(--background);
  height: auto;
  font-family: "Overlock", cursive;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}
.view-container {
  padding: 0 1em;
  margin-top: 5.5em;
  margin-bottom: 5em;
  width: 100%;
  max-width: 1200px !important;
}
.mt {
  margin-top: 1em !important;
}
.mb {
  margin-bottom: 0.5em !important;
}
.ml {
  margin-left: 0.5em !important;
}
.mr {
  margin-right: 0.5em !important;
}
.pr {
  padding-right: 0.5em !important;
}
.pl {
  padding-left: 0.5em !important;
}
.pt {
  padding-top: 0.5em !important;
}
.pb {
  padding-bottom: 0.5em !important;
}
@media (min-width: 960px) {
  .view-container {
    margin-top: 7.5em;
  }
}
@media (min-width: 800px) {
  .view-container {
    padding: 0 1em;
  }
  .mt {
    margin-top: 2em !important;
  }
  .mb {
    margin-bottom: 1em !important;
  }
  .ml {
    margin-left: 1em !important;
  }
  .mr {
    margin-right: 1em !important;
  }
  .pr {
    padding-right: 1em !important;
  }
  .pl {
    padding-left: 1em !important;
  }
  .pt {
    padding-top: 1em !important;
  }
  .pb {
    padding-bottom: 1em !important;
  }
}
@media (min-width: 1200px) {
  .view-container {
    padding: 0;
  }
  .mt {
    margin-top: 2em !important;
  }
  .mb {
    margin-bottom: 1em !important;
  }
  .ml {
    margin-left: 1em !important;
  }
  .mr {
    margin-right: 1em !important;
  }
  .pr {
    padding-right: 1em !important;
  }
  .pl {
    padding-left: 1em !important;
  }
  .pt {
    padding-top: 1em !important;
  }
  .pb {
    padding-bottom: 1em !important;
  }
}
#preview {
  width: 100%;
  margin-top: 4.5em;
}

.ptd {
  color: rgba(0, 0, 0, 0.87) !important;
}
.ptn {
  color: rgb(50, 72, 105) !important;
}
.std {
  color: rgba(0, 0, 0, 0.54) !important;
}
.htd {
  color: rgba(0, 0, 0, 0.38) !important;
}
.dd {
  color: rgba(0, 0, 0, 0.12) !important;
}

.ptl {
  color: rgba(255, 255, 255, 0.87) !important;
}
.stl {
  color: rgba(255, 255, 255, 0.7) !important;
}
.htl {
  color: rgba(255, 255, 255, 0.5) !important;
}
.dl {
  color: rgba(255, 255, 255, 0.12) !important;
}
.primary-dark-bg {
  background-color: rgba(0, 0, 0, 0.87) !important;
}
.secondary-dark-bg {
  background-color: rgba(0, 0, 25, 0.54) !important;
}
.hint-dark-bg {
  background-color: rgba(0, 0, 25, 0.38) !important;
}
.divider-dark-bg {
  background-color: rgba(0, 0, 25, 0.12) !important;
}

.primary-light-bg {
  background-color: rgba(255, 255, 255, 1) !important;
}
.secondary-light-bg {
  background: rgba(255, 255, 255, 0.7) !important;
}
.hint-light-bg {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.divider-light-bg {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.br {
  border-radius: 4px;
}
.no-deco {
  text-decoration: none;
}
.brighten:hover {
  filter: brightness(150%);
}
.brighten-1:hover {
  filter: brightness(125%);
}
.top-bar {
  background: #eeeeee;
  color: #454545;
  font-weight: normal;
}

.form-bg {
  background-color: rgb(238, 238, 238);
}

.golden {
  background: radial-gradient(
    1.5em at 25% 25%,
    rgb(235, 206, 133),
    goldenrod
  ) !important;
}
.golden > span {
  color: rgb(238, 238, 238) !important;
}
.golden-text {
  color: goldenrod !important;
}

.silver {
  background: radial-gradient(
    1.5em at 25% 25%,
    rgb(230, 228, 228),
    silver
  ) !important;
}
.silver-text {
  color: silver !important;
}
.silver > span {
  color: rgb(238, 238, 238) !important;
}
.bronze {
  background: radial-gradient(
    1.5em at 25% 25%,
    rgb(235, 139, 71),
    chocolate
  ) !important;
}
.bronze > span {
  color: white !important;
}
.bronze-text {
  color: chocolate !important;
}

.plain {
  background: rgb(158, 158, 158) !important;
}

.numeric-box {
  background: rgba(0, 0, 0, 0.5);
  min-width: 2.7em;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  border-radius: 0.3em;
  padding: 0.2em 0.3em;
}
.numeric-box > span {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary);
}

.close:hover {
  color: rgb(187, 54, 54) !important;
}

.action-icon:hover {
  transform: scale(1.15);
}
.action-icon:active {
  transform: scale(0.95);
}

.alert-button {
  color: var(--primary);
  padding: 0.6em 0;
  width: 60%;
  margin-top: 1em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 2px black;
}

.alert-button:hover {
  filter: brightness(110%);
}

.alert-font {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.side-comment {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2em;
}

.fa-icon {
  font-size: 1.2em;
}

.links {
  color: var(--link);
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
.default-cursor {
  cursor: default;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.text-shadow{
  text-shadow: 4px 8px 6px rgba(0,0,0,0.5);
}
.mt-one {
  margin-top: 1em !important;
}
.mt-half {
  margin-top: 0.5em !important;
}
.mb-one {
  margin-bottom: 1em !important;
}
.mb-half {
  margin-bottom: 0.5em !important;
}
.pl-one {
  padding-left: 1em !important;
}
.pl-half {
  padding-left: 0.5em !important;
}
.pr-one {
  padding-right: 1em !important;
}
.pr-half {
  padding-right: 0.5em !important;
}
.scroller {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 4;
  opacity: 0.8;
}
@media (min-width: 1280px) {
  .scroller {
    right: calc((100% - 1200px) / 2);
  }
}
.scale-up-enter-active {
  animation: scale-up 0.2s ease-in;
}
.scale-up-leave-active {
  animation: scale-up reverse 0.2s ease-in;
  animation-fill-mode: forwards;
}
@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.hidden {
  display: hidden !important;
}
.slide-up-enter-active {
    animation: slide 0.2s ease;
    transform-origin: top;
  }
  .slide-up-leave-active {
    animation: slide 0.2s ease reverse;
    transform-origin: top;
  }
  
  @keyframes slide {
    0% {
      opacity: 0.7;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .category-top{
      margin-top: 70vh;
  }
  @media (min-width: 1240px) {
    .category-top{
        margin-top: 80vh;
    }
  }
